.impression {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.impression-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 0.1em;
    margin-top: 150px;
    margin-bottom: 80px;
}

/* .impression-input {
    flex: 1;
    display: flex;
    flex-direction: column;
} */

.impression-btn-more {
    margin-bottom: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: #AEAEAE;
    border: none;
    color: white;
    padding: 10px 25px;
}

.impression-btn-more:hover {
    transition: ease-in-out .2s;
    background-color: rgb(110, 110, 110);
}

.impression-loading-wrapper {
    margin: 40px 0;
    padding: 30px ;
    background-color: #AEAEAE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.impression-content-loading {
    margin: 20px 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    height: 385px;
    width: 486px;
    color: #666666;
    background-color: #E0E0E0;
}

.impression-more-loading {
    margin: 20px 0;
    padding: 15% 50%;
    background-color: #E0E0E0;
}

.skeleton-load{
    margin: 50px 0;
}

.input-pesan {
    padding: 50px;
    padding-bottom: 180px;
    margin: 10% 0 !important;
    width: 570px;
    height: 250px;
    max-width: 570px !important;
    background-color: white !important;
}

.input-pesan:focus {
    outline: none !important;
    border: 1px solid #FF5151;
}