.student {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student-title {
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 0.1em;
    margin-top: 150px;
    margin-bottom: 80px;
}

.student-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.student-tab-wrapper{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-bottom: 72px;
    border: none;
    width: 75%
}

.student-tab-wrapper .col{
    margin-right: 20px;
}

.student-tab-item {
    position: relative;
    background-color: black;
    font-weight: bold;
    width: 300px;
    max-width: 300px;
    min-height: 43px;
}

.student-tab-link {
    transition: .3s;
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: red;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 43px;
    text-align: center;
    padding: 5px;
}

.student-tab-link:hover{
    transition: .3s;
    top: -4px;
    left: -4px;
    cursor: pointer;
}

.student-tab-active {
    position: absolute;
    top: -4px;
    left: -4px;
    background-color: red;
    color: white !important;
    border-radius: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    min-height: 43px;
}

.student-photo {
    width: 90%;
}

.student-photo-list {
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .student-tab-item {
        margin-top: 20px;
        min-width: 200px;
    }

    .student-tab-link {
        min-width: 200px;
    }
}