.photoList-wrapper{
    position: relative;
    flex: 0 0 33.3333%;
    text-align: center;
    margin-bottom: 2.8vw;
}

.photoList-wrapper:hover .photoList-detail {
    opacity: 1;
  }

.photoList-detail{
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 23vw;
    min-width: 200px;
    height: 23vw;
    min-height: 200px;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

.photoList-detail>div{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.photoList-detail>div>p{
    color: white;
}

.photoList-detail-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0;
}

.photoList-image{
    width: 23vw;
    min-width: 200px;
    height: 23vw;
    min-height: 200px;
    object-fit: cover;
}