.photoList-wrapper{
    position: relative;
    flex: 1 0 25%;
    text-align: center;
    margin-bottom: 2.8vw;
}

.photoList-wrapper:hover .photoList-detail {
    opacity: 1;
  }

.photoList-detail{
    position: absolute;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 19vw;
    min-width: 200px;
    height: 19vw;
    min-height: 200px;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6))
}

.photoList-detail>div{
    position: absolute;
    width: 60%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.photoList-detail>div>p{
    color: white;
}

.photoList-detail-title{
    font-weight: 500;
    font-size: 18px;
}

.photoList-detail-desc{
    margin-bottom: 3px;
}

.photoList-image{
    width: 19vw;
    min-width: 200px;
    height: 19vw;
    min-height: 200px;
    object-fit: cover;
}

@media only screen and ( max-width: 600px ) {
    .photoList-detail {
        min-width: 300px;
        min-height: 300px;
    }

    .photoList-image {
        min-width: 300px;
        min-height: 300px;
    }
}