.nav-jurusan{
    background: #E93F3F;
}

.nav-jurusan p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 39px 0;
}

.nav-jurusan .content{
    border-bottom: 4px solid #E93F3F;
    transition: .3s;
}

.nav-jurusan .content:hover{
    transition: .3s;
    cursor: pointer;
    background: #C73737;
    border-bottom: 4px solid #fff;
}

.jumbotronz img{
    filter: brightness(40%);
    transition: .3s;
}

.jumbotronz img:hover{
    filter: brightness(100%);
    transition: .3s;
}

.daftar-siswa .wrapper h5{
    font-size: 14px;
}

.daftar-siswa .wrapper p{
    font-size: 12px;
}