.contributor__container {
    align-items: center !important;
    justify-content: center !important;
}
.contributor__section {
    margin-top: 120px;
    text-align: center;
}

.contributor__image {
    max-width: 250px;
}

.contributor__image:hover {
    opacity: 1;
}