.teacher {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.teacher-title {
    text-align: center;
    font-weight: bold;
    font-size: 52px;
    letter-spacing: 0.1em;
    margin-top: 150px;
    margin-bottom: 80px;
}

.teacher-photo-list{
    width: 78%;
    display: flex;
    flex-flow: wrap;
}