.jurusan-title-wrapper{
    background: black;
    padding: 37px;
    color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.jurusan-title-wrapper h4{
    font-weight: 800;
}

.toggle-nav-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border: none;
    height: 70px;
    width: 70px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

nav{
    z-index: 999;
    position: fixed;
}

.nav-2{
    position: fixed;
    z-index: 998;
    padding-bottom: 102px;
    padding-top: 100px;
    background: black;
    width: 100%;
}

.nav-2 .close-icon{
    position: absolute;
    left: 0;
    top: -120px;
}

.navbar-wrapper{
    list-style: none;
}

.navbar-link:hover{
    color: #FB5D5D;
}

.navbar-link{
    font-size: 52px;
    color: white;
}