footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: black;
}

footer p {
    font-weight: bold;
    color: white;
    letter-spacing: 0.1em;
    margin: 0;
}