.jumbotronz {
    font-family: 'Montserrat';
    background-image: url(../../assets//img/jumbotron-img.png);
    /* margin-top: -120px; */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 276px;
    padding-bottom: 169px;
}

.jumbotronz h1{
    font-size: 64px;
    font-weight: 900;
    font-family: 'Montserrat';
    color: white;
    position: relative;
    top: -30px;
}

.bg-red{
    width: 226px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    background: #D24F4F;
}

.jumbotronz h2{
    font-size: 42px;
    font-family: 'Montserrat';
    color: white;
    font-weight: 600;
}

.jumbotronz h2{
    margin-bottom: 102px !important;
}

.jumbotronz .btn-klik{
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    background: #FF5151;
    padding: 15px 42px;
    box-shadow: 10px 10px 0 white;
    color: #29291E;
    transition: .3s;
}

.jumbotronz .btn-klik:hover{
    transition: .3s;
    color: white;
    background: #FF3333;
    box-shadow: 10px 10px 0 black;
}

/* REALITA */

.realita{
    background: #F3F3F3;
    padding-top: 55px;
    padding-bottom: 180px;
    font-family: 'Montserrat';
}

.realita .content{
    border-left: solid 20px #FF5151;
    background: white;
    padding: 40px 0px 40px 36px;
    transition: .3s;
}

.realita .content:hover{
    transform: translateY(-10px);
    transition: .3s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.realita h3{
    color: #29291E !important;
    font-weight: 900;
}

.realita .realita-title{
    font-size: 64px;
    color: rgba(41, 41, 30, 0.8);
    font-weight: bold;
    letter-spacing: 0.1em;
}

/* EKSPETASI */

.ekspetasi{
    background: #000000;
}