@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,900;1,600;1,700&display=swap);

.homepage-title>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotronz {
    background-image: url(../../assets//img/jumbotron-img.png);
    /* margin-top: -120px; */
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 276px;
    padding-bottom: 169px;
}

.jumbotronz h1{
    font-size: 64px;
    font-weight: 900;
    color: white;
    position: relative;
    top: -30px;
    font-family: 'Poppins', sans-serif;
}

.bg-red{
    width: 226px;
    height: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    background: #D24F4F;
}

.jumbotronz h2{
    font-size: 42px;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.jumbotronz h2{
    margin-bottom: 102px !important;
}

.jumbotronz .btn-klik{
    text-decoration: none;
    font-size: 16px;
    font-weight: 900;
    background: #FF5151;
    padding: 15px 42px;
    box-shadow: 10px 10px 0 white;
    color: #29291E;
    transition: .3s;
}

.jumbotronz .btn-klik:hover{
    transition: .3s;
    color: white;
    background: #FF3333;
    box-shadow: 10px 10px 0 black;
}

/* REALITA */

.realita{
    background: #F3F3F3;
    padding-top: 55px;
    padding-bottom: 180px;
}

.realita .content{
    margin-top: 10px;
    border-left: solid 20px #FF5151;
    background: white;
    padding: 40px 0px 40px 40px;
    transition: .3s;
}

.realita .content:hover{
    transform: translateY(-10px);
    transition: .3s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .2);
}

.realita h3{
    color: #29291E !important;
    font-weight: 900;
}

.realita .realita-title{
    font-size: 64px;
    color: rgba(41, 41, 30, 0.8);
    font-weight: bold;
    letter-spacing: 10px;
    
}

/* EKSPETASI */
.ekspetasi{
    z-index: 99;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 190vh;
    margin-left: 18vh;
}

.ekspetasi>div{
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    width: 90vw;
    background-color: black;
}

.ekspetasi-title{
    font-size: 64px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    letter-spacing: 10px;
    float: right;
    justify-content: flex-end;
    margin-right: 2vw;
}

.ekspetasi h1{
    font-size: 52;
    color: white;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-left: 4vw;
}

.ekspetasi>h1{
    display: flex;
    justify-content: flex-end;
}

.ekspetasi-code{
    right: 0;
    float: right;
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 92%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../../assets//img/foto-jurusan.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* ULTRA */
.ultra{
    height: 120vh;
    margin-top: -50px;
    background-color: #FF5151;
}

.ultra-title-wrapper{
    right: 0;
    z-index: 98;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-right: 10%;
    background-color: #FF3333;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

.ultra-title{
    color: #29291E;
    margin-top: 50px;
    font-size: 52px;
    font-weight: bold;
}

.video-section {
    margin-top: 25vh;
    right: 0;
    background: url(../../assets/img/video.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    z-index: 97;
    width: 100%;
    height: 80vh;
    cursor: pointer;
}


/* KOMENIN */
.section-carousel{
    margin-bottom: 70px;
}

.guru{
    background-color: black;
    padding: 70px 0 70px 0;
    margin-bottom: 0px;
}

.section-carousel-title{
    font-size: 52px;
    text-align: right;
    font-weight: bold;
    color: #29291E;
    margin: 70px 0 32px 0;
}

.guru-title {
    color: white
}

.section-carousel>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TEMEN */
.temen{
    height: 100vh;
    margin-top: -30px;
}

.temen-title-wrapper{
    z-index: 98;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    padding-right: 10%;
    background-color: #FF3333;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
}

.temen-title{
    color: #29291E;
    margin-top: 50px;
    font-size: 52px;
    font-weight: bold;
}

/* OUTRO */
.outro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outro-wrapper{
    position: relative;
    width: 526px;
    height: 456px;
    margin-bottom: 100px;
    background-color: black;
}

.outro-wrapper>div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -20px;
    left: -20px;
    width: 526px;
    height: 456px;
    transition: .4s;
    background: #FF5151;
}

.outro-wrapper>div:hover{
    transition: .4s;
    top: -8px;
    left: -8px;
}

.outro-wrapper>div>p {
    font-weight: bold;
    font-size: 52px;
}

