.student-detail{
    padding: 150px 0 150px 0;
    width: 40vw;
    min-width: 240px;
    margin: 0 auto;
}

.student-detail-class{
    font-weight: bold;
    display: inline;
}

.student-detail img{
    position: relative;
    width: 100%;
    height: 40vw;
    min-height: 270px;
    object-fit: cover;
    margin-bottom: 40px;
}

.student-detail-biodata-title{
    font-weight: bold;
    margin-bottom: 0;
    font-size: 14px !important;
}

.student-detail-biodata p{
    font-size: 16px;
}

.student-detail-call{
    margin-top: 50px;
}